<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244146240811-sl6rgq74s421mm72sjmlfdscsrl4jubi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244146240811-sl6rgq74s421mm72sjmlfdscsrl4jubi</string>
	<key>API_KEY</key>
	<string>AIzaSyB_yUHREW4M9A85gEztEa8AiPiFnfidCwU</string>
	<key>GCM_SENDER_ID</key>
	<string>244146240811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.ghashtag.dharma</string>
	<key>PROJECT_ID</key>
	<string>leela-chakra</string>
	<key>STORAGE_BUCKET</key>
	<string>leela-chakra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244146240811:ios:3728a6dac4467951fe196e</string>
	<key>DATABASE_URL</key>
	<string>https://leela-chakra-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>